<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="InetBankingV1">

	<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting"></listener>
	</listeners>

	<!-- parallel = "classes" thread-count = "3" -->
	<test name="BankingApp Test in Chrome">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.inetbanking.testCases.TC_LoginTest_001" />
			<!-- <class name="com.inetbanking.testCases.TC_LoginDDT_002" />  -->
			<!-- <class name="com.inetbanking.testCases.TC_AddCustomerTest_003" /> -->

		</classes>

	</test>
	
	<test name="BankingApp Test in IE">
		<parameter name="browser" value="ie"></parameter>
		<classes>
			<class name="com.inetbanking.testCases.TC_LoginTest_001" />
			<!-- <class name="com.inetbanking.testCases.TC_LoginDDT_002" />  -->
			<!-- <class name="com.inetbanking.testCases.TC_AddCustomerTest_003" /> -->

		</classes>

	</test>

</suite> 
